<div class="container">
  <div class="jumbotron">
    <h1>Today's Shit</h1>
    <button class="well">Chipotle - 12pm - 5 People</button>
    <button class="well">Subway - 2:30pm - 12 People</button>
    <button class="well">Open Mark - 1:30pm - 1 People</button>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>This Week:</h1>
    <button><img src="https://postmates.com/static/img/web-ordering/brand/chipotle/logo-icon-img.e724df76013d.png"></button>
    <button><img src="https://postmates.com/static/img/web-ordering/brand/chipotle/logo-icon-img.e724df76013d.png"></button>
    <button><img src="https://postmates.com/static/img/web-ordering/brand/chipotle/logo-icon-img.e724df76013d.png"></button>
    <button><img src="https://postmates.com/static/img/web-ordering/brand/chipotle/logo-icon-img.e724df76013d.png"></button>
    <button><img src="https://postmates.com/static/img/web-ordering/brand/chipotle/logo-icon-img.e724df76013d.png"></button>
    <button><img src="https://postmates.com/static/img/web-ordering/brand/chipotle/logo-icon-img.e724df76013d.png"></button>
  </div>
</div>
