<div class="container">
  <%= button_to "Add Plans", new_plan_path, {method: "get"}%>
</div>
<div class="jumbotron">
  <h1>Upcoming Plans: </h1>
  <% current_user.plans.sort_by(&:timing).each do |plan| %>
    <%= button_to plan.summary, plan_path(plan), {method: "get", class: "well"} %>
  <% end %>
  <h1>Available Plans: </h1>
  <% @organization.plans.sort_by(&:timing).each do |plan| %>
    <% if plan.front_page?(current_user)%>
      <%= button_to plan.summary, plan_path(plan), {method: "get", class: "well"} %>
    <% end %>
  <% end %>
</div>
