<div class="container">
  <%= button_to "Add Plans", new_plan_path, method: "get"%>
</div>
<div class="jumbotron">
  <h1>Happening Today: </h1>
  <% @organization.plans.each do |plan| %>
    <% if plan.timing.strftime('%j') == Time.now.strftime('%j') %>
       <button class="well"><%= "#{plan.location.name} - #{plan.timing.hour} - #{plan.organizer.name} - #{plan.users.count} People" %></button>
    <% end %>
  <% end %>
</div>
